:root {
  --dark-bg: #0a0a0d;
  --white-color: #fff;
  --nav-bg: rgba(26,22,47,.3);
  --light-gray: rgba(114, 120, 136, .6);
  --hover-bg: linear-gradient(90deg,rgba(30,28,50,0.8) 0%,rgba(43,22,29,0.7) 100%)
}
body {
  background-color: var(--dark-bg);
  color: var(--white-color);
  height: 100%;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
}
p {
  margin-bottom: 0px !important;
}
a,span,p {
  color: var(--light-gray);
  text-decoration: none;
}
a:hover,span:hover,p:hover {
  color: var(--light-gray);
} 
.main-container {
  height: 100vh;
}
.main-container::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -100;
  background-image: url("/src/Assests/header-gradient.svg");
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  background-size: 1400px;
  top: -50px;
}
.navbar {
  background-color: var(--nav-bg);
  backdrop-filter: blur(44px);
  padding: 10px 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
}
.icons-div a svg {
  width: 20px;
  height: 20px;
}
.navbar-expand-sm .navbar-nav .nav-link {
  font-size: 17px;
}
button:focus:not(:focus-visible) {
  border: none;
  box-shadow: none;
}
.profile_pic {
  width: 90px;
  height: 85px;
  border-radius: 50px;
}
.homeProjects a {
  background-image: linear-gradient(90deg, #80D0F2 0%, #5C82FF 50%, #C480FF 100%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--light-gray);
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0px 16px;
}
marquee .marquee_img {
  width: 20px;
}
.project-card {
  border-radius: 20px;
}
.project-card button {
  border: none;
  background-color: transparent;
  padding: 0;
}
.project-card img {
  border-radius: 8px;
}

.project-card .project_des {
  opacity: .6;
  font-size: 14px;
  line-height: 26px;
}
.userInputBox {
  background-size: contain;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: right;
}
.userInputBox h2 {
  background-color: #566cec;
  background-image: linear-gradient(90.42deg,#4AB1F1 0.58%,#566CEC 37.22%,#D749AF 73.87%,#FF7C51 112.26%);;
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  display: inline-block;
}
.socialLinks svg {
  color: var(--white-color);
}
.socialLinks {
  background-color: #566cec;
  background-image: linear-gradient(90.42deg,#4AB1F1 0.58%,#566CEC 37.22%,#D749AF 73.87%,#FF7C51 112.26%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.userInputBox .description {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #F2F2EE;
}
.userInputBox .meetingBtn {
  padding: 8px 20px;
  color: var(--white-color);
  border-radius: 18px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  background-image: linear-gradient(73.19deg,#DC79FF 0%,#256BFA 95.06%);
}

/* Media query */
@media screen and (max-width: 575px) {
  .userInputBox {
    background-image: var(--hover-bg), url("../src/Assests/chat.png");
  }
  .HomeDescription h1 {
    font-size: 28px;
  }
  .HomeDescription p {
    font-size: 14px;
    line-height: 26px;
  }
  .project-card img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 576px) {
  .userInputBox .description {
    max-width: 60%;
  }
  .project-card img {
    width: 200px;
  }
  .userInputBox {
    background-image:  url("../src/Assests/chat.png"), var(--hover-bg);
  }
  .HomeDescription h1 {
    font-size: 32px;
  }
  .HomeDescription p {
    font-size: 17px;
    line-height: 28px;
  }
}
@media screen and (max-width: 767px) {
  .navbar  {
    margin-bottom: 50px;
    width: 96%;
  }
  .container-custom {
    padding: 0px 20px 30px;
  }
  .overflow-md {
    overflow-x: scroll;
  }
  .userInputBox {
    padding: 30px 16px 20px;
    margin-top: 40px;
  }
  .userInputBox h2 {
    font-size: 30px;
  }
  .project-card {
    background: var(--hover-bg);
    width: 100%;
    margin-bottom: 6px;
    padding: 15px 12px;
  }
}
@media screen and (min-width: 768px) {
  .container-custom {
    width: 710px;
    padding-bottom: 30px;
  }
  .project-card::before {
    content: "";
    border-radius: 16px;
    display: block;
    position: absolute;
    z-index: -1;
    inset: -2px;
    opacity: 0;
    transform: scale(0.8);
  }
  .project-card:hover::before {
    opacity: 1;
    background: var(--hover-bg);
    transition: all 333ms ease 0s;
    transform: scale(1);
  }
  .userInputBox {
    padding: 40px 30px 20px;
    margin-top: 80px;
  }
  .navbar  {
    margin-bottom: 80px;
  }
  .userInputBox h2 {
    font-size: 40px;
  }
  .project-card {
    width: min-content;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    width: 80%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    width: 75%;
  }
}
@media screen and (min-width:1200px) {
  .navbar {
    width: 47%;
  } 
}